<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="MageWorx_SeoXTemplatesGraphQl">
        <sequence>
            <module name="MageWorx_SeoXTemplates"/>
            <module name="Mage_Catalog"/>
            <module name="Mage_CatalogGraphQl"/>
        </sequence>
    </module>
</config>